@use "../util/" as *;

.background {
  background-image: url("../images/pattern-background-mobile.svg");
  height: 50%;
  width: 100%;
  background-size: contain;
  background-repeat: repeat-x;
  position: absolute;

  @include breakpoint(medium) {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pale-blue);
}
